<div class="col-sm-10" style="display: block;width:100%;">
    <div class="wrap">
        <div class="main">
            <div class="course_box">
                <h2 class="title-b">Learning</h2>
            </div>
        </div>
    </div>
    <div style="width:640px; border-top: 1px solid #ccc;">
        <div data-course-id="c002" class="course-listing-box">
            <div class="coursera-container">
                <img src="/images/c002.png"></div>
            <div class="coursera-listing">
                <div class="university">普林斯顿大学
                </div>
                <div class="course-name"><a href="https://class.coursera.org/algs4partI-005">算法，第一部分</a>
                </div>
                <div class="ended-desc"><span>Learning @ June 2014</span>
                </div>
            </div>
        </div>
        <div data-course-id="c002" class="course-listing-box">
            <div class="coursera-container">
                <img src="/images/c004.png"></div>
            <div class="coursera-listing">
                <div class="university">Deep Teaching Solutions
                </div>
                <div class="course-name"><a href="https://www.coursera.org/learn/learning-how-to-learn">Learning how to learn</a>
                </div>
                <div class="ended-desc"><span>Learning @ May 2025</span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap">
        <div class="main">
            <div class="course_box">
                <h2 class="title-b">Completed</h2>
            </div>
        </div>
    </div>
    <div style="width:640px; border-top: 1px solid #ccc;">
        <div data-course-id="c001" class="course-listing-box">
            <div class="coursera-container">
                <img src="/images/c001.png"></div>
            <div class="coursera-listing">
                <div class="university">莱斯大学
                </div>
                <div class="course-name"><a href="https://www.coursera.org/course/interactivepython">Python交互编程入门</a>
                </div>
                <div class="ended-desc"><span>Completed @ Oct 2013</span>
                </div>
            </div>
        </div>
        <div data-course-id="c003" class="course-listing-box">
            <div class="coursera-container">
                <img src="/images/c003.png"></div>
            <div class="coursera-listing">
                <div class="university">南京大学
                </div>
                <div class="course-name"><a href="https://www.coursera.org/learn/yingyang-jiankang/">营养与健康</a>
                </div>
                <div class="ended-desc"><span>Completed @ May 2025</span>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap" style="height: 100px;">
        <div class="main">
            <div class="course_box">
                <h2 class="title-b">Score:</h2>
                You can buy your things use your scores. 1 score = 100 rmb.
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</div>
